<div class="user-page-modal profile">
  <div>
    <h1>Mon Profil</h1>
    <br>
    <h2><strong>Nom:<strong> <%= current_user.last_name %> </h2>
    <h2><strong>Prenom:<strong> <%= current_user.first_name %> </h2>
    <h2><strong>Email:<strong> <%= current_user.email %> </h2>
  </div>
</div>
