// Specific CSS for your home-page
.banner {
  background: image-url("banniere-home.png");
  background-size: cover;
  height: 500px;
  text-decoration: none;
  // display: flex;
  text-align: center;
  position: relative;
}
.banner-img-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-btn{
 margin-top: 100px;
}
.logo {
  width: 900px;
  height: 200px;

}

.btn-recherche {
  box-shadow: 2px 2px 2px 2px rgb(235, 206, 206);
  background-color:#f24537;
  border-radius:6px;
  border:2px #F5D8D8;
  border-style: dashed;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:24px;
  font-weight:bold;
  padding:16px 54px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;

  // position: relative;
  // top: 150px;
  // right: 500px;

}
.btn-recherche:hover {
  background-color:#c62d1f;
  color: white;
}

.img-mesure {
  border-radius: 4px;
}

.present {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
  height: 250px;

}

.present2 {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
  height: 300px;
}

.present3 {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
  // div{border: 2px solid #f5978e;;
  //   border-radius: 5px;
  //   box-shadow: 2px 2px 2px #f5978e;;
  // }
}



.present4 {
  background: image-url("img-end.png");
  background-size: cover;
  height: 350px;
  margin-top: 64px;
}

.present-text {
  width: 50%;
}

.present-text2 {
  width: 517px;
  text-align: start;
}

