<div class="user-page-modal profile">
<h1>Mon Profile</h1>
<br>
<p><strong>Nom:<strong> <%= current_user.last_name %> </p>
<p><strong>Prenom:<strong> <%= current_user.first_name %> </p>
<p><strong>Email:<strong> <%= current_user.email %> </p>
</div>