
<div class="visite-index">
  <div class="img-visite">
    <%= image_tag creation.photos[0], class: "img-card", size: "377x280"%>
  </div>
  <div class="description-index">
    <h2 style="text-decoration:none;"><%= creation.name %></h2><br>
    <p style="text-decoration:none;"><%= creation.tagline %></p>
  </div>
  <div class="footer-visite">
    <div class="timer-visite">
      <i class="fas fa-history">&nbsp</i>
      <h2 class="footer-time" style="text-decoration:none;"><%= creation.time %>&nbspHeure(s)</h2>
    </div>
    <div class="icon-visite">
      <i class="fas fa-heart"></i>
      <i class="fas fa-share-alt"></i>
    </div>
  </div>
</div>
