<div class="footer">
  <p>Copyright FabricsApp 2022</p>
  <%= render 'shared/mon_bouton_recherche' %>
  <div class="footer-font">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
  </div>
</div>
