
<div class="like-icon mx-2 <%= 'red' if current_user.favorited?(creation) %>" data-id="<%= creation.id %>">
    <%= link_to "", toggle_favorite_creation_path(creation), remote: true, method: :post, class: "fas fa-heart" %>
</div>
