
.index-container {
  padding: 20px;
}

.banner-index {
  width: 100%;
  height: 400px;
  background: image-url("mdc.jpg");
  background-size: cover;

}


.recherche {
  display: flex;
  justify-content: space-around;
}

.form-recherche {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titres {
  margin-bottom: 70px;

}



.visual {
  position: relative;
  padding: 20px;
  margin: 20px;
  height: 500px;
  width: 500px;
  background-color: gray;
  #largeur {
    text-align: start;
  }
  h2 {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.rectangle {
  position: absolute;
  padding: 10px;
  height: 65%;
  width: 65%;
  left: 20%;
  top: 20%;
  background-color: red;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
