.main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  // align-items: flex-start;
  // justify-content: flex;
  text-align: center;
  background-color:#FFFCFC;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5d8d8;
  margin-top: 1px;
}

.carousel-inner {
  width: 450px;
}

.carousel-item{
  height: 300px;
  background: #FFDAFC;
}

.favori-show {
  font-size: 50px;
}

.picture-container{
  width: 100%;
  background-image: url(carrécarré.jpg);
  object-fit: cover;
  height: 473px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}


.title {
  color: black;
  text-align: center;
  height: 170px;
  margin-top: 32px;
  margin-bottom: 32px;
  h1 {
    font-size: 64px;
  }
}
.patron {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.tag-description {

  min-height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.engloble-tag{
  width: 50%;
  background-color: #f5d8d8;
  border: 1px solid #f5d8d8;
  border-radius: 4px;
  padding: 16px 16px;

}
.mygrid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding-left: 10px;
}


.display-img-show {
  display: flex;
  min-height: 300px;
  width: 100%;
  margin-top: 28px;
  gap: 16px;
  padding: 0px 16px;
  background-size: cover;


}
.item {
  flex-grow: 1;
}

.fav-link {
  position: absolute;
  top: 400px;
  left: 50px;
  font-size: 30px;
}

.notice {
  width: 100%;
  // display: flex;
  // justify-content: center;
  padding-top: 24px;
}

.lespdf {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

// #list-materiels{
//   flex-direction: column;
// }

.bk-index {
  margin-top: 50px;
}

.autres-crea {
  margin-top: 30px;
}

.mygrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

  // .contain-show {
  //   display: flex;
  //   justify-content: space-around;
  //   text-align: center;
  //   align-items: center;
  //   border: 1px solid red;
  // }
  // .materiels {
  //   width: 30%;
  //   min-height: 230px;
  //   background-color: #f5d8d8;
  // }
.carousel-item {
  height: 500px;
  object-fit: cover;
}