.mon-bouton-recherche {

 box-shadow:inset 0px 1px 0px 0px #f5978e;
  background-color:#f24537;
  border-radius:6px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:24px;
  font-weight:bold;
  padding:8px 36px;
  text-decoration:none ;
  text-shadow:0px 1px 0px #810e05;
  height: 50px;

  a {
    color: white;
  }

}
  .mon-bouton-recherche:hover {
    background-color:#c62d1f;
    color: white;
  }
