.mon-bouton-recherche {
  box-shadow: 2px 2px 2px 2px rgb(235, 206, 206);
  background-color:#f24537;
  border-radius:6px;
  border:2px white;
  border-style: dashed;

  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:24px;
  font-weight:bold;
  padding:8px 36px;
  text-decoration:none ;
  text-shadow:0px 1px 0px #810e05;
  height: 50px;

  a {
    color: white;
  }

}
  .mon-bouton-recherche:hover {
    background-color:#c62d1f;
    color: white;
  }
