.card {
  background-color:#F5D8D8;
  color: black;
  height: 448px;
  width: 377px;

}

.footer-card {
  display: flex;
  justify-content: space-between;
}
.card-time {
  display: flex;
}


// .card-img-card {
//   max-height: 40%;
// }
