.visite-index {
  background-color:#F5D8D8;
  height: 544px;
  width: 377px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 1px rgba(164, 12, 47, 0.471);
}


.description-index {
  text-align: center;
  color: black;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;

h2 {
  font-size: 48px;
}

p {
  font-size: 16px;
}

}


.footer-visite {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  align-items: center;
  color: black;

}

.timer-visite{
  width: 50%;
  display: flex;
  margin-left: 16px;
  color: black;
}
.icon-visite {
  margin-right: 16px;
  color: red;}

.red{
  .fa-heart{
    color: #E13434!important;
  }
}

.fa-heart {
  color: #e1343476!important;
}


// .fa-history:before {
// font-size: 24px;
// }
// .fa-heart {
//   color: white;
//   margin-right: 4px;
// }
// .fa-heart:hover {
//   color: red;
// }
// .fa-share-alt{
//   color: white;
// }

// .fa-share-alt:hover{
//   co
// }
// .card-img-card {
//   max-height: 40%;
// }
