.footer {
  width: 100vw;
  height: 110px;
  background-color: #FEB8FC;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-font {
  font-size: 48px;
  padding-left: 10px;
  padding-right: 10px;

}
