.footer {
  height: 72px;
  background-color: #FEB8FC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  p {
    margin: 0px;
  }
}

.footer-font {
  font-size: 48px;
  color: white;
}

.footer-font:hover {

  color: #f24537;
}
