.footer {
  height: 72px;
  background-color: #FEB8FC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;

  p {
    margin: 0px;
  }

  .btn-footer {
    position: absolute;
    width: 286px;
    min-height: auto;
    left: 288px;
    top: 19%;
  }
}


.copyright {
  display: flex;
  align-items: center;
  p {
    margin-left: 4px;
  }
}

.footer-font {
  font-size: 40px;
  color: white;
}

.footer-font i:hover {

  color: #f24537;
}
