.navbar-lewagon {
  justify-content: space-between;
  background: #FDF4F4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 260px;
  height: 60px;

}

.avatar {
  width: 60px;
}

.text_nav  {
  background-color: #FDF4F4;
  border: 4px dashed white;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  color:#f24537;
}

.text_text {
  color:#f24537;
}
.dropdown-item:hover  {
  color: #FDF4F4;
  background-color: #f24337c4;


}
