.menu-container{
  justify-content: left;
}

.banner-user {
background: image-url("banner-user.png");
background-size: cover;

}
.user-choice {

}

.btn-user {
  width: 100%;
  height: 72px;
  border: 1px solid #FFDAFC;
  border-radius: 4px;
  background-color: #FFDAFC;
}
